$dropdownBackground:            $white;
$dropdownBorder:                rgba(0,0,0,.2);
$dropdownDividerTop:            #e5e5e5;
$dropdownDividerBottom:         $white;

$dropdownLinkColor:             $grayDark;
$dropdownLinkColorHover:        $white;
$dropdownLinkColorActive:       $white;

$dropdownLinkBackgroundActive:  $linkColor;
$dropdownLinkBackgroundHover:   $dropdownLinkBackgroundActive;
$dropDownPadding: 8px;
$caretWidthBase: 12px;

// Dropdown arrow/caret
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top:   $caretWidthBase solid;
  border-right: $caretWidthBase solid transparent;
  border-left:  $caretWidthBase solid transparent;
}

// The dropdown wrapper (div)
.dropup,
.dropdown {
  position: relative;
}

// Prevent the focus on the dropdown toggle when closing dropdowns
.dropdown-toggle {
    &:focus {
        outline: 0;
    }
}

.chip-down {
    &:before {
      border: solid 2px darken($grayLighter, 8%);
    @include border-radius(0 $boxBorderRadius);
    // border: solid 1px $grayLighter;
    // .box-shadow(-1px 3px 8px rgba(0, 0, 1, 0.125));
    width: 14px;
    height: 14px;
    background-color: lighten($grayLighter, 4%);
    position: absolute;
    display: block;
    content: '';
    transform: rotate(-45deg);
    left: 50%;
    margin-left: -7px;
    bottom: -7px;
    z-index: -1;
  }   
  &:after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    height: $dropDownPadding;
    background-color: $white;
    position: absolute;
    bottom: 0;
    @include border-radius(0 0 $boxBorderRadius $boxBorderRadius);
  }
}
.chip-up {
    &:before {
      border: solid 2px darken($grayLighter, 8%);
    @include border-radius($boxBorderRadius);
    width: 14px;
    height: 14px;
    background-color: lighten($grayLighter, 4%);
    position: absolute;
    display: block;
    content: '';
    transform: rotate(-45deg);
    left: 50%;
    margin-left: -7px;
    top: -7px;
    z-index: -1;
  }   
}
.chip-right {
    &:before {
      border: none;
    @include border-radius($boxBorderRadius);
    width: 12px;
    height: 12px;
    background-color: $white;
    position: absolute;
    display: block;
    content: '';
    transform: rotate(-45deg);
    left: initial;
    right: -6px;
    margin: -6px 0 0 0;
    top: 50%;
    z-index: -1;
  }   
}

 
// The dropdown menu (ul)
.dropdown-menu {
  display: none; 
  @include opacity(0);
  position: absolute;
  left: 0;
  z-index: $zindexDropdown;
  float: left;
  min-width: 160px;
  margin: 0; // override default ul
  list-style: none;
  font-size: $baseFontSize;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-color: $white;
  padding: $dropDownPadding;
  border-radius: $boxBorderRadius;
  border: solid 2px darken($grayLighter, 8%);
  background-clip: padding-box;
  &.top-drop {
    @extend .chip-up;    
    margin: 0;
    padding: 0;
    width: 240px;
    left: 50%;
    margin-left: -124px;
    top: 48px;
  }
  &.bottom-drop {
    @extend .chip-down;    
    bottom: 38px;
    margin: 0;
    // padding: 0;
    width: 240px;
    left: 50%;
    margin-left: -124px;
  }
    
    
  // Aligns the dropdown menu to right
  //
  // Deprecated as of 3.1.0 in favor of `.dropdown-menu-[dir]`
  &.pull-right {
    right: 0;
    left: auto;
  }

  > .text-item {
    background-color: $mushroom;
    border-bottom: solid 1px lighten($grayLighter, 3%);
    padding: 12px 18px;
    font-size: 1em;
    line-height: 1.05em;
    &:hover {
      cursor: pointer;
    }
    .label {
      display: block;
      font-weight: 600;
      color: $grayLight;
    }
    .link {
      background-color: transparent;
      width: 100%;
    }
  }
  // Links within the dropdown menu
  > li > a, .linklike {
      @extend .hoverAnimate;
    background-color: $white;
    display: block;
    padding: 0;
    border-bottom: solid 1px lighten($grayLighter, 3%);
    color: darken($gray, 4%);
    font-size: 1em;
    clear: both;
    font-weight: 400;
    height: 34px;
    line-height: 34px;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    &.reading {
      color: $blue;
    }
    i {
      width: 36px;
      text-align: center;
    }
    &.last {
      // border-bottom: none;
      // margin-bottom: $dropDownPadding;
    }
    &.light {
      color: $grayLight;
      &:hover {
        color: $grayDark;
      }
    }
  }
}
// Open state for the dropdown
.open {
  // Show the menu
  > .dropdown-menu {
    display: block;
          visibility: visible;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}

// Menu positioning
//
// Add extra class to `.dropdown-menu` to flip the alignment of the dropdown
// menu with the parent.
.dropdown-menu-right {
  left: auto; // Reset the default from `.dropdown-menu`
  right: 0;
}
// With v3, we enabled auto-flipping if you have a dropdown within a right
// aligned nav component. To enable the undoing of that, we provide an override
// to restore the default dropdown menu alignment.
//
// This is only for left-aligning a dropdown menu within a `.navbar-right` or
// `.pull-right` nav component.
.dropdown-menu-left {
  left: 0;
  right: auto;
}

// Dropdown section headers
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $grayDark;
  white-space: nowrap; // as with > li > a
}

// Backdrop to catch body clicks on mobile, etc.
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: ($zindexDropdown - 10);
}

.dd-parent {
    &.open {
        .dropdown-toggle {
            &.single {
                .io {
                    &:before {
                        content: "\e923";
                    }
                }
            }
        }
    }
}