$cardWidth: 640px;
$cardHeight: 500px;
$modalHeaderHeight: 48px;
.overlay-on {
  overflow: hidden;
}
.modal-open {
  overflow: hidden;
      .navbar-fixed-top {
          &.anon {
              display: none;
          }
      }
  }
.scrim {
    font-family: $sansFontFamily;
    position: fixed;
    overflow: hidden;
    top: 0; 
    left: 0;
    right: 0;
    background: $backgroundColor;
    z-index: $zindexModalBackdrop;
    height: 500%;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $black;
    @include opacity(.56);
    // .opacity(.36);    
    z-index: $zindexModalBackdrop;
    &.blue {
        background-color: $red;
    }
    &.red {
        background-color: $red;
    }
    &.black {
        background-color: $red;
    }
}
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindexModal;
    outline: 0;
    &.spread {
      .modal-backdrop {
        background-color: $backgroundColor;
        &.in { opacity: .94; }
        &:before, &:after {
          display: none;
        }
      }        
    }
}
.modal-card {
    width: $cardWidth;
    height: $cardHeight;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -$cardHeight/2;
    margin-left: -$cardWidth/2;
    background-color: $white;
    @include border-radius($boxBorderRadius);
    padding: 0;
    @include box-shadow(0 0 16px rgba(0, 0, 0, 0.185));
    overflow: hidden;
    &.blue {
        background-color: $blue;
    }
    &.collapsed {
        // height: 320px;
        // margin: -160px 0 0 (-$cardWidth/2);
    }
    .modal-header { 
        background-color: transparent;
        border: none;
        text-align: center;
        height: $modalHeaderHeight;
        line-height: $modalHeaderHeight;    
        position: absolute;
        left: 0;
        right: 0;
        z-index: 10;
        padding: 0 24px;
        &.transparent {
            background-color: transparent;
        }
        .btn {
            line-height: $modalHeaderHeight;
            &.close-modal-card {
                position: absolute;
                line-height: 48px;
                right: 0;
                top: 0;
                color: $grayLight;
                outline: none;
                background-color: transparent;
                @include box-shadow(0);
                @include opacity(.6);
                &.white {
                    color: $white;
                }
                .io {
                    margin: 0;
                    font-size: 1.8em;
                }
                &.overlay {
                    color: $white;
                }
            }
        }
        h2 {
            margin: 0;
            font-size: 1.15em;
            font-weight: 400;
            color: $gray;
            line-height: $modalHeaderHeight;
        }
    }
    .sub-footer {
        clear: both;
        text-align: center;
        height: 36px;
        line-height: 36px;
        padding: 0;
        background-color: $grayDark;
        border-top: solid 1px darken($mushroom, 4%);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 48px;
        z-index: 10;
        .modal-tabs {
            list-style: none;
        }
        .tab-item {
            cursor: pointer;
            color: $grayLighter;
            display: inline-block;
            padding: 0;
            text-align: center;
            width: 50%;            
        }
    }
    .modal-footer {
        clear: both;
        text-align: center;
        height: 48px;
        line-height: 48px;
        padding: 0;
        background-color: $grayDark;
        border-top: solid 1px darken($mushroom, 4%);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        .btn-footer-white {
            font-weight: 600;
            line-height: $modalHeaderHeight - 2px;
            color: $whiteTranslucent;
            border: none;
            background-color: transparent;;
        }
    }
    .modal-subhead {
        font-weight: 400;
        color: $gray;
        font-size: 1.15em;
        line-height: 1.15em;
    }
    .modal-body {
        position: absolute;
        overflow-x: hidden;
        overflow-y: scroll;
        height: auto;
        height: auto;
        padding: 0 24px;
        margin: $modalHeaderHeight -24px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
        &.no-top-margin {
            margin: 0 -24px $modalHeaderHeight;
        }
        &.text-entry {
            background-color: $backgroundColor;
        }
        &::-webkit-scrollbar {
            display: none;
        }
        &.dark {
            background-color: $grayDarkTranslucent;
        }
        &.padded {
            padding: 24px;   
        }
    }
}
.generic-body-content {
    padding: 36px;
    color: $gray;
}
// login modal
.pleaseLoginModal {
  .modal-backdrop {
    background-color: $grayDark;
    &.in { opacity: .94; }
    &:before, &:after {
      display: none;
    }
  }
}
.trailing-disclaimer {
  margin: 12px auto 0;
  width: 260px;
  color: $grayLight;
  font-size: .95em;
}
.major-modal-butts {
  margin: 32px 0 0;
}

.modal-close {
    position: absolute;
    right: 18px;
    top: 18px;
    cursor: pointer;
    color: $grayLight;
    &:hover {
        color: $grayDark;
    }
}
.modal-message {
    padding: 0;
    margin: 12px 24px;
    font-family: $sansFontFamily;
    font-size: 1.05em;
    line-height: 1.05em;
    color: $grayDark;
    display: block;
}
// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

// special styles
.modal-body {
    &.full-scrollable {
        position: absolute;
        overflow-x: hidden;
        overflow-y: scroll;
        height: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;        
    }
}
.card-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        font-weight: 600;
        color: $grayLight;
        margin: 0 10px;
        display: inline-block;
        &:hover {
            cursor: pointer;
        }
        &.active {
            color: $blue;
            font-weight: 600;
        }
    }
}
.modal-content {
    .header {
        margin: 120px 0 48px;
        clear: both;
        width: 100%;
        height: 54px;
        line-height: 54px;
        border-bottom: solid 1px darken($grayLighter, 6%);
    }
    .cm-obj-name {
        font-weight: 600;
        vertical-align: middle;
    }
    .title-trailer {
        vertical-align: middle;
    }
    .cm-img {
        .profile-image {
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
        }
    }
    .cm-head-right {
        .btn {
            vertical-align: middle;
        }
        // line-height: 54px;
    }
}