.with-hero {
    .navbar-fixed-top {
        // background-color: transparent;
    }
}
.editor-active {
    // .navbar-fixed-top {
    //     display: none;
    // }
}
.navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: $zindexFixedNavbar;
    height: $navbarHeight;
    line-height: $navbarHeight;
    background: transparent;
    border: none;
    // .box-shadow(0 0 4px 0 rgba(0, 0, 0, 0.1));
    @include transform(translateZ(0));
    @extend .navAnimate;
    &.overlay {
        background-color: transparent;
        border-bottom: none;
        @include box-shadow(none);
        .menu-toggle {
            .toggle-btn {
                &:before, &:after {
                    background: $white;
                }
            }
        }       
        .nav-el {
            .nav-but {
                color: $white;
            }
        }
        &.dark {
            .nav-el {
                .nav-but {
                    color: inherit;
                }
            }
        }        
    }
    .breadcrumb {
        display: none;
        margin-left: 8px;
        padding-left: 8px;
        &.active {
            display: inline-block;
        }
    }
    .navbar-menu {
        .io {
            font-size: 32px;
        }
    }
    .nav-el {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        color: $grayDark;
        line-height: $navbarHeight - 1px;
        &.homey {
            @include opacity(1);
            float: none;
            @extend .hoverAnimate;
            padding: 0;
            // .nav-but {
            //     color: $grayDark;
            // }
        }             
    }
}
.nav-inbox-count {
    font-weight: 600;
    color: $avo4;
    font-size: .95em;
    .io {
        margin-right: 0;
    }
}
.nav-el {
    &.open {
        .nav-but {
            @include opacity(.9);
        }                
    }
    &.create-new {
        margin-left: 6px;
        .btn {
            vertical-align: middle;
        }
    }
    &.login {
        float: right;
    }
    .hey {
        top: 8px;
        right: 0;
        margin-left: 3px;
        content: "";
        display: block;
        min-width: 14px;
        height: 14px;
        padding: 0 4px;
        @include border-radius($baseBorderRadius);
        border: solid 2px $backgroundColor;
        background-color: $avo4;
        position: absolute;
    }   
    .btn {
        vertical-align: middle;
    } 
    .nav-but {
        z-index: 11;
        position: relative;
        background-color: transparent;
        color: $gray;
        border-color: transparent;
        @extend .navAnimate;
        &.overlay {
            background: rgba(0,0,0,0.1);
        }
        &.profile-image {
            display: inline-block;
            width: $baseButtonHeight;
            padding-bottom: $baseButtonHeight;
        }         
        .io {
            font-size: 22px;
            &.scrib {
                font-size: 24px;
            }
        }
    }
}
// .top-center {
//     position: absolute;
//     left: 50%;
//     width: 100px;
//     margin-left: -50px;
//     text-align: center;
// }
// .top-left {
//     position: absolute;
//     left: 36px;
//     .nav-el {
//         margin: 0 8px;
//         &:first-child {
//             margin-left: 0;
//         }
//     }
// }
.top-right {
    .nav-el {
        margin: 0 12px;     
        &:last-child {
            margin-right: 0;
            .nav-but {
                padding-right: 0;
            }
        }
    }
}
.with-subnav {
    margin-top: 140px;
}
.sub-nav {
    position: absolute;
    height: $subnavHeight;
    line-height: $subnavHeight;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 24px;
    background-color: $white;
    z-index: 100;
    @include transform(translateZ(0));
    border-bottom: solid 1px darken($grayLightest, 2%);
    &.large:not(.stick) {
        padding: 12px 0;
        height: auto;        
        .nav-items {
            .nav-tab {
                font-size: 1.25em;
                font-weight: 400;
            }
        }
    }
    &.stick {
        position: fixed;
        background-color: $grayLightest;
        top: $navbarHeight;
        &.large {
            .nav-items {
                .nav-tab {
                    font-size: inherit;
                    font-weight: inherit;
                }
            }
        }     
    }
    &.fixed {
        position: fixed;
        background-color: $grayLightest;
        top: $navbarHeight;
    }
    &.rollin {
        // position: absolute;
        // bottom: -64px;
        // background-color: rgba(0,0,0,.4);
        // border: none;
        .nav-items {
            color: $white;
        }
    }
    .lg {
        display: inline-block;
    }
    .nav-items {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
        height: 100%;
        &.switch {
            display: none;
            &.active {
                display: block;
            }
        }
        .more-actions {
            right: 20px;
            left: initial;
        }        
        .nav-tab {
            @extend .unselectable;
            position: relative;
            display: inline-block;
            padding: 0;
            margin: 0 12px;
            font-weight: 600;
            display: inline-block;
            color: lighten($gray, 6%);
            z-index: 1;
            cursor: pointer;
            // border-bottom: solid 2px transparent;
            height: 100%;
            vertical-align: top;
            @extend .hoverAnimate;
            .counter {
                margin: 0 0 0 6px;
                color: lighten($grayLight, 22%);
                letter-spacing: -1px;
            }
            &.nav-btn {
                background-color: $grayLighter;
                padding: 0 12px;
                border: solid 1px darken($grayLighter, 2%);
                @include border-radius($boxBorderRadius);
            }
            &.more-toggle  {
                position: relative;
                .io {
                    margin-left: 6px;
                    font-size: 20px;
                }
            }
            &.active {
                border-bottom-color: rgba(26,139,186,.44);
                color: $grayDarker;
                a {
                    // border-bottom-color: rgba(26,139,186,.44);
                    color: $grayDarker;
                }                
                .counter {
                }

            }
        }
    }    
}
.user-drop-container {
    display: none;
    position: absolute;
    background-color: $white;
    padding: 0;
    right: -24px;
    top: -12px; // offset navbar padding
    width: 320px;
    border: solid 1px darken($grayLighter, 4%);    
    border-top: none;
    z-index: 11;
    &.active {
        display: block;
    }
    .close-user-drop {
        position: absolute;
        right: 20px;
        top: 12px;
        z-index: 12;
    }
    .profile-link {
        padding: 24px;
        border-bottom: solid 1px darken($grayLighter, 2%);    
        position: relative;
        display: block;
        vertical-align: top;
        line-height: 1em;
        .profile-image {
            display: inline-block;
        }
        .user-name {
            line-height: 1em;
            margin: 0;
        }
        .profile-slug {
            color: $grayLight;
        }
    }
    .user-menu {
        padding: 0;
        list-style: none;
        li {
            font-size: .9em;
            line-height: 36px;
            height: 36px;
            color: $grayLight;
            @include opacity(.9);
            border-bottom: solid 1px darken($grayLighter, 4%);
            text-align: left;
            padding: 0 24px;
            @extend .hoverAnimate;
            &:last-child {
                border-bottom: none;
            }
            .io {
                font-size: 18px;
                width: 27px;
            }
        }        
    }
}

.menuOpen {
    .navbar {
        border: none;
        .top-left {
            display: none;
        }
        .top-center {
            display: none;
        }
        .top-right {
            .nav-el {
                &:not(:last-child) {
                    display: none;
                }
            }
        }
    }
    .menu-nav-action {
        z-index: 9999;
    }
}

.menu-toggle {
    position: relative;
    &.open {
        // z-index: 1001;
        .toggle-btn {
            &:before, &:after {
                background: $grayDark !important;
            }
            &:before {
                transform: translateY(3px) rotate(135deg);
            }
            &:after {
                transform: translateY(-3px) rotate(45deg);
            }
        }
    }   
    .toggle-btn {
        display: inline-block;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        line-height: 1.125em;
        max-width: 40px;
        &:after, &:before {
            content: "";
            position: absolute;
            top: 24px;
            left: 10px;
            width: 20px;
            height: 2px;
            background: $grayDark;

            @include transition(all ease-out);
            @include transition-delay(0);
            @include transition-duration(300ms);

            // -webkit-transition: -webkit-transform .3s ease-out;
            // transition: -webkit-transform .3s ease-out;
            // transition: transform .3s ease-out;
            // transition: transform .3s ease-out,-webkit-transform .3s ease-out;
        }
        &:after {
            top: auto;
            bottom: 24px;
        }
    }
}

.brand-text {
    font-size: 1.75em;
    font-family: $logoFontFamily;
    letter-spacing: -1px;
    .io {
        font-weight: 900;
        font-size: 20px;
    }
    .x {
        color: $black;
    }
    .co {
        @include opacity(.9);
    }
}