.session-teaser {
	padding: 32px 0;
	border-bottom: solid 1px $grayLighter;
	&:last-child {
		border-bottom: none;
	}
}

.activity-group-detail {
	margin-top: $navbarHeight * 2 - 8;
}
.group-definition {
	display: block;
	min-height: 32px;
	margin: 0 0 16px -5px;
	@extend .hoverAnimate;
	.group-meta-item {
		@extend .hoverAnimate;
		display: inline-block;
		margin-right: 3px;
		font-size: 0.95em;
		line-height: 1.1em;
		vertical-align: middle;
		background-color: $grayLighter;
		padding: 5px 4px;
		@include border-radius(3px);
		&.type {
			font-weight: 600;
		}
		&.count {
			background-color: transparent;
			display: block;
		}
	}
}

.activity-detail, .session-detail, .explore-detail {
	margin-top: $navbarHeight + 64;
}

.activity-group {
	padding: 48px 0;
	border-bottom: solid 1px $grayLighter;
}
.activity-teaser {
	padding: 24px 0;
	border-bottom: solid 1px $grayLighter;
	outline: none;
	&:last-child {
		border-bottom: none;
	}
	&.mini {
		padding: 8px 0;
		.user-meta {
			.user-name {
				line-height: 32px;
			}
		}
	}
	.teaser-head {
		display: table;
		width: 100%;
		.lefty {
			vertical-align: top;
			display: table-cell;
			text-align: left;
		}
		.righty {
			vertical-align: top;
			display: table-cell;
			text-align: right;
			line-height: 32px;
		}
		.stat {
			display: inline-block;
			margin-right: 6px;
			&:last-child {
				margin-right: 0;
			}
			&.light {
				@include opacity(.3);
			}
			&.main {
				font-weight: 600;
			}
		}
	}
	.teaser-img-container {
		display: inline-block;
		margin-right: 6px;
	}
	.user-meta {
		display: inline-block;
		vertical-align: top;
		.user-name {
			// line-height: 32px;
			font-weight: 600;
		}
		.created {
			font-weight: 400;
			color: $grayLight;
		}
	}
	.subhead {
		font-size: 1em;
		&.activity-type {
			font-weight: 600;
			color: $grayDark;
		}
	}
	.inner-detail {
		margin: 8px 0 0 40px;
		.body-stat {
			font-size: 0.9em;
			.stat-label {
				font-weight: 400;
				@include opacity(60);
			}
			.num {
				margin-left: 4px;
				font-weight: 600;
				.units {
					font-weight: 600;
					@include opacity(.3);
				}
			}
		}
	}
}

.splits-table {
	.header-row {
		display: table;
		width: 100%;
		.units {
			@include opacity(.4);
		}		
	}
	.split {
		display: table;
		width: 100%;
		.metric {
			display: table-cell;
			padding: 0 6px 0;
		}
	}
}

.act-data-table {
	margin-bottom: 48px;
	display: table;
	width: 100%;
	.w5 { width: 5% !important; }
	.w10 { width: 10% !important; }
	.w20 { width: 20% !important; }
	.w25 { width: 25% !important; }
	.last { width: auto !important; }
	.left { text-align: left !important; }
	.header-row {
		display: table;
		width: 100%;
		border-bottom: solid 1px $grayLighter;			
		font-weight: 600;
		.col {
			display: table-cell;
			padding: 0 6px 0;
			text-align: right;
		}		
	}
	.table-row {
		display: table;
		width: 100%;
		border-bottom: solid 1px $grayLighter;
		&:nth-child(5) {
		  background-color: darken($grayLighter, 6%);
		}
		&.selected {
			background-color: $grayLighter;
		}
		.metric {
			line-height: 1.75em;
			vertical-align: middle;			
			display: table-cell;
			padding: 0 6px 0;
			text-align: right;
		}
	}
}
.plot-header {
	display: table;
	width: 100%;
	height: 600px;
	&.with-nav {
		.plot-container {
			width: 70%;
		}
		.plot-nav {
			width: 30%;
		}
	}
}
.plot-container {
	display: table-cell;
	width: 100%;
	background-color: $white;
}
.plot-nav {
	display: table-cell;
	position: relative;
	.plot-nav-body {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		overflow: scroll;
		padding: 24px;
		z-index: 9;
	}
	.plot-nav-header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 42px;
		background-color: $grayLighter;
		border-bottom: solid 1px darken($grayLighter, 6%);
		z-index: 10;
		.nav-tabs {
			display: table;
			width: 100%;
			.nav-tab {
				display: table-cell;
				vertical-align: middle;
				width: 33.3%;
				padding: 0 12px;
				line-height: 42px;
				&:first-child {
					padding-left: 0;
				}
			}
		}
	}
}
.act-type-los {
	display: inline-block;
	padding: 0 8px;
	line-height: 30px;
	@include border-radius(3px);
	text-align: right;
	background-color: rgba(0,0,0,.1);
	&.type {
		background-color: rgba(0,0,0,.2);
	}

}
.plot-subhead {
	position: absolute;
	top: 480px;
	right: 0;
	padding: 0 24px;
	z-index: 11;
	.right-side {
		float: right;
	}
}
.plot-sub-item {
	display: inline-block;
	margin-left: 6px;
	&:first-child {
		margin-left: 0;
	}
}
.series-selector-group {
	position: relative;
	.selector-btn {
		z-index: 11;
	}
}
.selector-container {
	display: none;
	position: absolute;
    right: 0;
    left: 0;
    z-index: 4;
    height: 590px;
    padding: 24px;
    background-color: rgba(255,255,255,.80);
    top: 0;
    border-bottom: solid 2px $grayLighter;
    .selector-blurb {
    	font-weight: 400;
    	margin: 0 0 42px;
    	color: $grayLight;
    }
    .type-header {
    	margin: 0 0 3px;
    }
    .select-type {
		margin: 0 0 24px;    	
    	.select-head {
    		display: inline-block;
    		font-weight: 600;
			padding: 3px 10px;
			@include border-radius(3px);
			background-color: darken($grayLighter, 8%);
			@extend .hoverAnimate;
			&.selected {
				background-color: $blue;
				color: $white;
			}
    	}
    	.select-sub {
    		display: inline-block;
    		margin-right: 5px;
    		padding: 3px 10px;
    		@include border-radius(3px);
    		background-color: $grayLighter;
    		@extend .hoverAnimate;
			&.selected {
				background-color: $blue;
				color: $white;
			}    		
    	}
    }
}
.activity-kpis {
	margin: 24px auto 0;
	display: table;
	.kpi {
		display: table-cell;
		vertical-align: top;
		min-width: 200px;
		padding: 16px;
		background-color: $white;
		margin: 0 0 0 -1px;
		border-right: solid 1px $grayLighter;
		position: relative;
		&:last-child {
			border-right: none;
		}
		.stat-label {
			display: block;
			font-weight: 600;
			font-size: 0.9em;
			margin: 0 0 8px;
			@include opacity(.4);
		}
		.units {
			@include opacity(.6);
			margin-left: 3px;
		}
		.num {
			display: block;
			font-weight: 900;
			font-size: 1.6em;
		}
	}
}
.body-section {
	margin: 36px 0 0;
}