<div class="post-toolbar">
    <div class="post-form-toolbar postFormToolbar">
<!--                 <button class="ql-hr"><b>HR</b></button> -->
        <button class="ql-bold"><b>b</b></button>
        <button class="ql-italic"><span class="ed-letter italic">i</span></button>
        <button class="ql-strike"><s>s</s></button>
        <button class="ql-list" value="bullet"><i class="ico io-format_list_bulleted"></i></button>
        <button class="ql-list" value="ordered"><i class="ico io-format_list_numbered"></i></button>
        <button class="ql-link"><i class="ico io-link io-rotate-45"></i></button>                

<!--                 <button class="ql-undo">undo</button>
        <button class="ql-redo">redo</button> -->
        <button class="" data-actionbind data-action="toggleInsert"><i class="ico io-image"></i></button>
        <button class="" data-actionbind data-action="toggleMentions">@</button>
        <button class="pull-right" data-actionbind data-action="toggleFullScreen"><i class="ico io-android-expand"></i></button>
        
    </div>            
</div>
