<div class="media-insert mediaInsert" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="media-insert-container">
        <div class="tab-pane active" id="inline-{{id}}">
            <div class="insert-options insertOptions">
    		    <div class="i-option embedLink embed-link-wrapper">
    		        <input type="text" name="embed" class="media-embed-input mediaEmbedInput" placeholder="Paste a link or embed code"/>
    		        <button class="pull-right btn circle square btn-transparent embed-submit embedSubmit">
                        <i class="ico io-android-arrow-forward"></i>
                    </button>
    		    </div>  
                <div class="i-option">
                    <button class="btn circle square btn-grayLight upload-media insertUploadImage" id="postImageUpload"><i class="ico io-image"></i></button>
                </div>
            </div>
	    </div>
        <div class="insert-error insertError"></div>
    </div>
 </div>