<div class="inner-plot-nav innerPlotNav">
	<div class="plot-nav-header">
		<div class="nav-tabs">
			<div class="nav-tab navTab" data-id="summary">Summary</div>
			<div class="nav-tab navTab" data-id="strides">Strides</div>
			<div class="nav-tab navTab" data-id="splits">Splits</div>
		</div>
	</div>
	<div class="plot-nav-body plotNavBody">
		<div class="tab-panes">
			<div class="tab-pane tabPane" id="summary">
				<p>This is a summary</p>
			</div>
			<div class="tab-pane active tabPane" id="strides">
				<div class="act-data-table strides-table ">
					<div class="header-row">
						<div class="col left w25">Side <span class="units"></span></div>
						<div class="col w25">Length <span class="units"></span>m</div>
						<div class="col w25">Contact time <span class="units">s</span></div>
						<div class="col last">Frequency <span class="units">strides/s</span></div>
					</div>	
				{{#each strides}}
					<div class="table-row sprint-stride stride strideItem" data-index={{@index}}>
						<div class="metric left w25">{{side}}</div>
						<div class="metric w25">{{decimalPlaces length 2}}</div>
						<div class="metric w25">{{decimalPlaces contact_time 2}}</div>
						<div class="metric last">{{decimalPlaces frequency 2}}</div>
					</div>
				{{/each}}
				</div>
			</div>
			<div class="tab-pane tabPane" id="splits">
				<div class="act-data-table splits-table striped-stats-table">
					<div class="header-row">
						<div class="col left w25">Distance <span class="units"></span>m</div>
						<div class="col w25">Duration <span class="units"></span>s</div>
						<div class="col w25">Cumulative time <span class="units">s</span></div>
						<div class="col last">Avg velocity <span class="units">m/s</span></div>
					</div>
				{{#each splits}}
					<div class="table-row sprint-split split splitItem" data-index={{@index}}>
						<div class="metric left w25">{{cumulative_distance}}</div>
						<div class="metric w25">{{decimalPlaces duration 3}}</div>
						<div class="metric w25">{{decimalPlaces cumulative_time 3}}</div>
						<div class="metric last">{{decimalPlaces velocity 3}}</div>
					</div>
				{{/each}}
				</div>
			</div>
		</div>		
	</div>
</div>