<div class="page-container pageContainer" id="static-landing">
<div class="hero detailHero" data-nav-overlay="light">
    <div class="hero-image-wrapper heroImageWrapper">
        <div class="carousel centered">

            <div class="active carousel-pane carouselPane hero-img darken" data-option="sport" style="background-image: url('/static/assets/heroes/broad-002.jpg');">
                <div class="carousel-content">
                    <div class="grid-base">
                        <div class="center-column">
                        <h1 class="big"><span class="lighter">Breakthrough</span> precision</h1>
                        <div class="standfirst">Smarter coaching with continuous, laser-accurate motion tracking. </div>
                            <div class="trailing-button buttonContainer">
                                <a class="btn btn-large btn-whiteline" href="/about" data-navigate>About XCO</a>
                            </div>                        
                    </div>
                    </div>
                </div>
            </div>
            <div class="carousel-pane carouselPane hero-img darken" data-option="concussion" style="background-image: url('/static/assets/heroes/concussion-2.jpg');">
                <div class="carousel-content">
                    <div class="grid-base">
                        <div class="center-column">
                            <h1 class="big"><span class="lighter">Breakthrough</span> objectivity</h1>
                            <div class="standfirst">Toward an objective, portable concussion assessment system.</div>
                            <div class="trailing-button buttonContainer">
                                <a class="btn btn-large btn-whiteline" href="/about" data-navigate>About XCO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>       

            <div class="carousel-pane carouselPane hero-img darken" data-option="health" style="background-image: url('/static/assets/product/health-doc-stock-001.png');">
                <div class="carousel-content">
                    <div class="grid-base">
                        <div class="center-column">
                        <h1 class="big"><span class="lighter">Breakthrough</span> continuity</h1>
                        <div class="standfirst">Comprehensive, precision patient assessment – in and out of the clinic.</div>
                                                    <div class="trailing-button buttonContainer">
                                <a class="btn btn-large btn-whiteline" href="/about" data-navigate>About XCO</a>
                            </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="carousel-controls carouselControls">
                <div class="active action borderless" data-focus-option="sport"><i class="io io-circle_filled"></i></div>
                <div class="action borderless" data-focus-option="concussion"><i class="io io-circle_filled"></i></div>
                <div class="action borderless" data-focus-option="health"><i class="io io-circle_filled"></i></div>
            </div>

        </div>
    </div>
</div>

<div class="core-content mainBody">

    <section class="feature-section">

        <div class="grid-base">
            <div class="split-col">
                <div class="col top c40">
                    <div class="static-img" style="background-image: url('/static/assets/product/system-items.png');"></div>
                    <!-- <div class="static-img" style="background-image: url('/static/assets/about/tag-sample-photo.png');"></div> -->
                </div>
                <div class="col top c60">
                    <h2>The integration of novel wearable sensor technology, data analytics and machine learning for health and human performance.</h2>
                    <div class="btn-container">
                        <a class="btn btn-large btn-fineline" href="/xps" data-navigate>Learn more</a>
                    </div>
                </div>
            </div>
        </div>

    </section>


<section class="promo-section" data-nav-overlay="light">

    <div class="mini-features f2">
        <div class="feature-block centered">                
                <div class="feature-img lazyload" style="background-image: url('/static/assets/heroes/cc-sample.jpg');"></div>

                <div class="content">
                    <a class="wrapping-anchor" href="/sport" data-navigate>
                        <h3 class="feature-head"><span class="subdued">BioAnalytics for</span> Sport</h3>
                        <div class="feature-sub">Revolutionizing elite sport testing and training.</div>
                    </a>
                </div>
        </div>
        <div class="feature-block centered">
            <div class="feature-img lazyload" style="background-image: url('/static/assets/heroes/concussion-sample.jpg');"></div>
                <div class="content">
                    <a class="wrapping-anchor" href="/health" data-navigate>
                        <h3 class="feature-head"><span class="subdued">BioAnalytics for</span> Healthcare</h3>
                        <div class="feature-sub">Precision medicine and advanced, distributed patient care</div>
                    </a>
                </div>
            </div>
        </div>        

</section>

<section class="featured-block soup featuredBlock">
    <div class="center-column centered">
        <div class="feature-title-block">
            <h2 class="head">The latest</h2>
            <div class="subhead">XCO's blog and news feed</div>
        </div>
        <ul class="blog-post-list feature short">
            <li class="post"><a href="/b/33-chbc-precise-personal" class="wrapping-anchor" data-navigate><span class="date">01/02/2019</span><span class="title">Introducing CHBC - Precise and Personal </span></a></li>             
            <li class="post"><a href="/b/32-sif-round-2" class="wrapping-anchor" data-navigate><span class="date">22/11/2018</span><span class="title">Strategic Innovation Fund: On to round 2!</span></a></li> 
            <li class="post"><a href="/b/30-winn-xco-2018" class="wrapping-anchor" data-navigate><span class="date">13/11/2018</span><span class="title">XCO receives $800,000 WINN funding</span></a></li>        
            <li class="post"><a href="/b/28-ibm-innovation-forum-2018" class="wrapping-anchor" data-navigate><span class="date">15/10/2018</span><span class="title">IBM Innovation Forum</span></a></li>
            <li class="post"><a href="/b/27-cpes-startup-of-year-2018" class="wrapping-anchor" data-navigate><span class="date">26/05/2018</span><span class="title">XCO wins 2018 CPES Startup of the Year</span></a></li>
        </ul>

        <div class="about-section">
            <div class="btn-container centered">
                <a class="btn btn-large btn-dark" href="/updates" data-navigate>Get the newsletter</a>
            </div>
        </div>

    </div>

</section>

<footer class="page-footer pageFooter centered">
    <ul class="footer-els footer-text">
        <li>&copy; 2018 XCo Tech Inc</li>
        <li><a class="wrapping-anchor" href="/about" data-navigate>About</a></li>
        <li><a class="wrapping-anchor" href="/careers" data-navigate>Careers</a></li>
        <li><a class="wrapping-anchor" href="/terms" data-navigate>Terms</a></li>
    </ul>
</footer>
                
</div>
</div>