<div class="page-container pageContainer" id="static-landing">
    <div class="hero full-page detailHero">
        <div class="hero-image-wrapper heroImageWrapper">
            <div class="landing-hero-background"></div>        
            <div class="landing-content centered">
                <div class="heading centered">
                    <div class="dash-logo" style="background-image: url('/static/assets/ico/dash-logo-white.png');"></div>
                </div>

                <button class="btn btn-overlayDark full" data-actionbind data-action="fireAuthModal">Sign in</button>
                
                    <a class="app-link app-ios" href="https://app.appsflyer.com/id305343404?pid=tumblr_internal&amp;c=signup_page&amp;af_sub4=https%253A%252F%252Fwww.tumblr.com%252F" aria-label="Download Tumblr on the App Store" target="_blank" rel="noopener noreferrer"></a>

            </div>
        </div>
    </div>

</div>