<div class="page-container pageContainer" id="system">
    <div class="main-body mainBody">

        <div class="mainPaneContent">
                <div class="center-column">
                    <div class="pager-container pagerContainer feed">
                        <div class="paginated-list paginatedList"></div>
                    </div>                
                </div>
                <div class="center-column breadcrumb-links breadcrumbLinks">{{>pagination-links}}</div>
        </div>
    </div><!-- /.mainBody --> 
    
</div>