<div class="page-container pageContainer" id="tag">
    <div class="mainPaneContent">
            <div class="center-column">
                <div class="pager-container pagerContainer feed">
                    <div class="paginated-list paginatedList"></div>
                </div>                
            </div>
            <div class="center-column breadcrumb-links breadcrumbLinks">{{>pagination-links}}</div>
    </div>
    <button class="btn btn-blue circle float-right" data-actionbind data-action="startTagCreate"><i class="ico ico-add"></i></button>
</div>