<div class="tag-modal tagModal modal" style="display: none;" tabindex="-1">

    <div class="modal-card mini-card">

        <div class="modal-header">
            <h2>New tag</h2>
            <button data-dismiss="modal" aria-hidden="true" class="close-modal-card btn btn-transparent"><i class="ico ico-close"></i></button>      
        </div>

        <div class="modal-body-container">
            <div class="modal-body modal-body">
          
                <div class="modal-body-container">
                    
                    <div class="modal-body modal-body modalBody start">
                        <div class="generic-body-content tagBody">

                            <div class="tag-create-form tagCreateForm">

                                <div class="create-fields">
                                    <div class="field-wrapper">
                                        <div class="field-label inline">Tag name</div>
                                        <input class="plain-input tagName" id="tagName" autocomplete="off" autocapitalize="off" autocorrect="off" autofill="off" maxlength="255" name="name" type="text" value="" placeholder="Identifiable, user-facing tag ID"/>
                                    </div>   

                                    <div class="field-wrapper">
                                        <div class="org-selector orgSelector" data-actionbind data-action="openOrgSelector">Select an organization</div>
                                    </div>  

                                </div>
                            </div>


                        </div>      
                    </div>
                </div>

             </div>
        </div>
         <div class="modal-footer dark">
            <button class="btn btn-red actionButton" data-actionbind data-action="save">Save</button>
        </div>
                
</div>

</div>