<div class="inner-nav{{#unless user}} transparent{{/unless}}">
  
    <div class="grid-base">
      <div class="top-left topLeft pull-left navFade">    

          <div class="nav-el navEl homey">
              <a href="/" rel="home" class="nav-but navHomey" data-navigate>
                  <span class="brand-text brandText">xco.</span>
              </a>
          </div>        
      </div>

      <div class="top-right topRight pull-right">

          <div class="nav-el nav-menu navMenu navEl navFade">
              <a class="btn nav-but overlay nrn-item-normal rnItem" href="/contact" data-navigate>Contact</a>            
          </div>

          <div class="nav-el menu-nav-action menuNavAction navEl">
              <button class="nav-but menu-toggle menuToggle" data-actionbind data-action="toggleMenu">
                <span class='toggle-btn'>Menu</span>
              </button>
          </div>                        

      </div>
    </div>

</div> 